html, body {
    max-width: 100%;
    margin: 0;   
}



.header, .container1 {
    background-color: #1f2937;
    color: white;
    margin: 0;
}


.header {
    display: flex;
    justify-content: space-between;
    height: 75px;
    width:auto;
    display: flex;
}



ul {
    display: flex;
    list-style-type: none;
    gap: 30px;    
}

.right-links {
    display: flex;
    align-items: center;
    padding-right:100px;

}

a {
    display: flex;
    color: #e5e7eb;
    font-size: 18px;
    text-decoration: none;
    font-weight: 100;
}

.logo {
    padding-left: 150px;
    font-size: 20px;
    font-weight: 900;
    display: flex;
    align-items: center;  
}

h1 {
    margin: 0;
    font-size: 48px;
    margin-top: 20px;    
}

img{
    display: flex;
    width: 500px;
    height: 300px;
    padding-right: 100px;  
    flex: 1 1 auto;  
}

.container1 {
   
    display:flex;
    align-items: center;
    justify-content: space-between;
    height: 400px;
    width:auto;  
    min-width: 0;
   
   
    
}

.hero {
    
    display:flex;
    flex: 1 0 auto;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 150px;
    width:400px;
    height:300px;     
}

button {
    width:100px;
    padding: 8px;
    border-radius: 12px;
    background-color: #3882f6;
    border: none;
    color: white;
}

.subject {
    margin-top: 0;
}

.container2 {
    padding-bottom: 70px;
    
}

h2 {
    text-align: center;
    font-size: 30px;
    margin-top: 40px;
}


.cards {
    height: 400px;
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    min-width: none;
    gap:10px;
    flex: 0 1 auto;
    min-width: 0;
    margin-bottom: 50px;
    flex-flow: row wrap;  
}

.card {
    text-align: center;
    width: 200px;    
}

.img2 {
    height: 210px;
    width: 210px;
    margin-bottom: 15px;    
}

.testimonial {
    display: flex;
    justify-content: center;
    align-items: center; 
    background-color: #e5e7eb;
    height: 300px;
    text-align: center;
    padding-left: 15px;
    padding-right: 15px;
}

.quote {
    font-size: 25px;
    padding-top: 75px;
    width: 500px;
    height: 300px;
  }

  .thor {
    text-align: right;
  }

.call-to-action {
    color: white;
    background-color:#3882f6;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 100px;
    padding-left: 100px;
    padding-right: 100px; 
}
   
.cta{
    display:flex;
    align-items: center;
    margin-bottom: -40px;
}

.ctap {
    padding-bottom: 15px;
    font-size: 15px;
}

.btn2 {
    display: flex;
    justify-content: center;
    width: 150px;
    border: 2px solid white;
    background-color: #3882f6;
   
}

footer {
    display:flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    background-color: #1f2937;
    color: #f9faf8

}




