html, body {
    max-width: 100%;
    margin: 0;   
}

.header, .container1 {
    background-color: #1f2937;
    color: white;
    margin: 0;
}

.testimonial {
    background-color: #e5e7eb;
}

.header {
    display: flex;
    justify-content: space-between;
    height: 75px;
    width:auto;
    display: flex;
}



ul {
    display: flex;
    list-style-type: none;
    gap: 30px;    
}

.right-links {
    display: flex;
    align-items: center;
    padding-right:100px;

}

a {
    display: flex;
    color: #e5e7eb;
    font-size: 18px;
    text-decoration: none;
    font-weight: 100;
}

.logo {
    padding-left: 150px;
    font-size: 20px;
    font-weight: 900;
    display: flex;
    align-items: center;  
}

h1 {
    margin: 0;
    font-size: 48px;
}

img{
    display: flex;
    width: 500px;
    height: 300px;
    padding-right: 100px;    
}

.container1 {
    display:flex;
    align-items: center;
    justify-content: space-between;
    height: 400px;
    width:auto;    
    
}

.hero {
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 150px;
    width:400px;
    height:200px;  
    min-width: 0;
    
}

button {
    width:100px;
    padding: 8px;
    border-radius: 12px;
    background-color: #3882f6;
    border: none;
    color: white;
}